config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/openaire/EPrints-OAPiwik:
      branch: master
      repo: https://github.com/openaire/EPrints-OAPiwik.git
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/openaire/EPrints-OAPiwik git:
        commands:
        - /usr/bin/env sh .sqa/script.slaphappy-chestnut-antelope.sh
        container: qc.acc_shaggy-magnolia-lemur
  QC.Doc:
    repos:
      github.com/openaire/EPrints-OAPiwik find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.frumpy-grey-badger.sh
        container: qc.doc_tasty-purple-setter
      github.com/openaire/EPrints-OAPiwik git:
        commands:
        - /usr/bin/env sh .sqa/script.wimpy-chocolate-akita.sh
        container: qc.doc_cheeky-apricot-affenpinscher
      github.com/openaire/EPrints-OAPiwik markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.gamy-amaranth-bulldog.sh
        container: qc.doc_hilly-ultramarine-retriever
  QC.Lic:
    repos:
      github.com/openaire/EPrints-OAPiwik licensee:
        commands:
        - /usr/bin/env sh .sqa/script.dorky-cream-liger.sh
        container: qc.lic_flimsy-magenta-moorhen
  QC.Ver:
    repos:
      github.com/openaire/EPrints-OAPiwik get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.gummy-black-buffalo.sh
        container: qc.ver_pokey-maroon-seal
timeout: 5400
