config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/openaire/EPrints-OAPiwik:
      branch: master
      repo: https://github.com/openaire/EPrints-OAPiwik.git
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/openaire/EPrints-OAPiwik git:
        commands:
        - /usr/bin/env sh .sqa/script.randy-linen-mist.sh
        container: qc.acc_bumpy-lime-uakari
  QC.Doc:
    repos:
      github.com/openaire/EPrints-OAPiwik find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.lousy-rust-zonkey.sh
        container: qc.doc_tasty-purple-otter
      github.com/openaire/EPrints-OAPiwik git:
        commands:
        - /usr/bin/env sh .sqa/script.crabby-cinnabar-ocelot.sh
        container: qc.doc_sleepy-alizarin-affenpinscher
      github.com/openaire/EPrints-OAPiwik markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.shaggy-khaki-moose.sh
        container: qc.doc_gloppy-turquoise-wolf
  QC.Lic:
    repos:
      github.com/openaire/EPrints-OAPiwik licensee:
        commands:
        - /usr/bin/env sh .sqa/script.grumpy-goldenrod-wildebeest.sh
        container: qc.lic_wheezy-amethyst-caterpillar
  QC.Ver:
    repos:
      github.com/openaire/EPrints-OAPiwik get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.squirrely-turquoise-husky.sh
        container: qc.ver_sleepy-chocolate-vulture
timeout: 5400
